body, html  {
    height: 100%;
    margin: 0;
}

body    {
    font-family: 'Montserrat';
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
}

.bg1, .bg2  {
    width: 100%;
    height: 100%;
    position: absolute;
}

.bg1    {
    -webkit-clip-path: polygon(72% 74%, 100% 27%, 100% 100%, 5% 100%);
    clip-path: polygon(72% 74%, 100% 27%, 100% 100%, 5% 100%);
    z-index: -1;
    background-color: #226dbc;
}